# S32DS 
Release/
Debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
/Debug NODE_A/
/Debug NODE_B/
/Release NODE_A/
/Release NODE_B/
/NODE_A Release/
/NODE_A Debug/
/NODE_B Debug/
/NODE_B Release/
